body {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.header {
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-body {
    display: flex;
    margin: 50px 0px;
    justify-content: space-between;
}
.header-image {
    background-color: aquamarine;
    width: 700px;
    height: 200px;
}