
.header {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-body {
    display: flex;
    margin: 50px 0px;
    justify-content: space-between;
}
.header-image {
    background-color: aquamarine;
    width: 700px;
    height: 200px;
}

.information {
    background-color: azure;
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center;
}
.information-items {
    display: flex;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    
}
 
.info-text {
    text-align: center;
}

.box {
    height: 80px;
    width: 80px;
    background-color: black;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px 20px 50px;
    background-color: lightblue;
}
.quote-att {
    align-self: flex-end;
}

.call-box {
    display: flex;
    background-color: bisque;
    padding: 20px 40px;
    margin: 30px 50px;
    justify-content: space-between;
    align-items: center;

}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}